<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/home.css') }}">
    <title>Wrong city</title>
</head>
<body>
    <div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <h1>My <span>Weather</span></h1>
            </div>
            <ul class="navigation">
                <a href={{ path('weather') }}><li>Weather</li></a>
                <a href={{ path('location') }}><li>Location</li></a>
            </ul>
        </div>
    </div>
    <div>
        <h1>Your city does not exist</h1>
    </div>
</body>
</html>